body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #f3e0aa;
  padding: 10px 0;
  text-align: left;
}

.menu-item {
  display: inline-block;
}

.menu-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 20px;
}

.menu-item a:hover {
  background-color: #fdffe187;
}
