body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  font-size: 20px;
}

nav {
  background-color: #f3e0aa;
  padding: 10px 0;
  text-align: center;
}

.menu-item {
  display: inline-block;
}

.menu-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 40px;
}

.menu-item a:hover {
  background-color: #fdffe187;
}

.container {
	padding: 2rem;
}

/* Estilos para o botao de scroll para cima */

#scrollUpButton {
    display: none; 
    position: fixed 
    bottom 20px;  
	right: 20px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #555; 
    color: white;
	cursor: pointer;
    padding: 15px;
    border-radius: 10px; 

}

#scrollUpButton:hover {
    background-color: #333;
}
  
  /* Configurações do Portefolio*/

  .portfolio {
	font-family: 'league spartan', cursive;
	text-decoration: none;
	color: rgb(0, 0, 0);
	padding: 0% 5% 5% 5%;
	width: auto;
	height: 100vh;
  }
  
  #portfolio p {
	font-family: 'League Spartan', serif;
	font-size: 15pt;
  }
  
  #port img {
	opacity: 0.5;
	transition: opacity 0.5s, box-shadow 0.5s;
	height: 300px;
	width: 200px;
  }
  
  #port img:hover {
	opacity: 1;
	box-shadow: 0px 10px 50px #070708;
	transition: opacity 0.5s, box-shadow 0.5s;
	height: 300px;
	width: 200px;
  }

  /* Quando o rato passa por cima dos links muda a cor */

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}